# Dependencies
node_modules/
vendor/

# Environment files
.env
.env.*
!.env.example

# Laravel
/backend/storage/*.key
/backend/storage/framework/cache/*
/backend/storage/framework/sessions/*
/backend/storage/framework/views/*
/backend/storage/logs/*.log
/backend/bootstrap/cache/*.php

# React
/frontend/dist/
/frontend/.vite/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/